<header>
  <nav> <span>Restorant Con Fusion</span> 
    
    <ul>
      <a routerLink="/home"><li>Home</li></a>
      <a routerLink="/about"> <li>About</li></a>
      <a routerLink="/menu"><li>Menu</li></a>
      <a routerLink="/contact"><li>Contact</li></a>
    </ul>
  </nav>
  
  <div class="conatiner">
    <h1>Restorant Con Fusion</h1>
    <div class="showcase-detail">
      <p>
        We take inspiration from the world's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary sense.
      </p>
    </div>
  </div>
</header>
