.main-container {
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu {
  border: 1px solid gray;
  width: 250px;
  cursor: pointer;
}

img {
  width: 200px;
  padding: 0;
}
